[Unit]
Description=Traffic Light
After=network.target

[Service]
ExecStart=/usr/bin/nodejs /opt/traffic_light/server/app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
